<!-- Formulario para editar la información del empleado, por ahora solo rrhh -->
<form action="/save_info_employee" method="POST" class="formEmployee">
    <div class="form-group">
        <label for="empleado">Nombre del Empleado:</label>
        <input type="text" id="empleado" name="empleado" value="{{ info_employee['empleado'] }}" required>
    </div>
    <div class="form-group">
        <label for="cuil">CUIL:</label>
        <input type="text" id="cuil" name="cuil" value="{{ info_employee['cuil'] }}" required>
    </div>
    <div class="form-group">
        <label for="fecha_ingreso">Fecha ingreso:</label>
        <input type="text" id="fecha_ingreso" name="fecha_ingreso" value="{{ info_employee['fecha_ingreso'] }}" required>
    </div>
    <div class="form-group">
        <label for="legajo">Legajo:</label>
        <input type="text" id="legajo" name="legajo" value="{{ info_employee['legajo'] }}" required>
    </div>
    <div class="form-group">
        <label for="mail">Mail:</label>
        <input type="text" id="mail" name="mail" value="{{ info_employee['mail'] }}" required>
    </div>
    <div class="form-group">
        <label for="forma">Forma:</label>
        <input type="text" id="forma" name="forma" value="{{ info_employee['forma'] }}" required>
    </div>
    <div class="form-group">
        <label for="turno">Turno:</label>
        <input type="text" id="turno" name="turno" value="{{ info_employee['turno'] }}" required>
    </div>
    <div class="form-group">
        <label for="area">Area:</label>
        <input type="text" id="area" name="area" value="{{ info_employee['area'] }}" required>
    </div>
    <div class="form-group">
        <label for="fecha_nacimiento">Fecha nacimiento:</label>
        <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ info_employee['fecha_nacimiento'] }}" required>
    </div>
    <div class="form-group">
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria" value="{{ info_employee['categoria'] }}" required>
    </div>
    <div class="form-group">
        <label for="convenio">Convenio:</label>
        <input type="text" id="convenio" name="convenio" value="{{ info_employee['convenio'] }}" required>
    </div>
    <div class="form-group">
        <label for="medife">Medife:</label>
        <input type="text" id="medife" name="medife" value="{{ info_employee['medife'] }}" required>
    </div>

    <button type="submit">Guardar Cambios</button>
</form>