<!-- Este formulario será solo para jerarquias que no pueden editar la información del empleado, sino solo verla -->
<form action="#" method="POST" class="formEmployee">
    <div class="form-group">
        <label for="empleado">Nombre del Empleado:</label>
        <p>{{ info_employee['empleado'] }}</p>
    </div>
    <div class="form-group">
        <label for="cuil">CUIL:</label>
        <p>{{ info_employee['cuil'] }}</p>
    </div>
    <div class="form-group">
        <label for="fecha_ingreso">Fecha ingreso:</label>
        <p>{{ info_employee['fecha_ingreso'] }}</p>
    </div>
    <div class="form-group">
        <label for="legajo">Legajo:</label>
        <p>{{ info_employee['legajo'] }}</p>
    </div>
    <div class="form-group">
        <label for="mail">Mail:</label>
        <p>{{ info_employee['mail'] }}</p>
    </div>
    <div class="form-group">
        <label for="fecha_nacimiento">Fecha nacimiento:</label>
        <p>{{ info_employee['fecha_nacimiento'] }}</p>
    </div>
    <div class="form-group">
        <label for="categoria">Categoria:</label>
        <p>{{ info_employee['categoria'] }}</p>
    </div>
    <div class="form-group">
        <label for="area">Area:</label>
        <p>{{ info_employee['area'] }}</p>
    </div>
    <div class="form-group">
        <label for="convenio">Convenio:</label>
        <p>{{ info_employee['convenio'] }}</p>
    </div>

</form>