/* Estilos para el formulario de solicitud de home office */
.formHomeOffice {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para las etiquetas del formulario */
  .formHomeOffice label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* Estilos para los select del formulario */
  .formHomeOffice select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Estilos para el botón del formulario */
  .formHomeOffice button {
    width: 100%;
    padding: 10px;
    background-color: #1477b2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  /* Estilos para el botón del formulario al pasar el ratón */
  .formHomeOffice button:hover {
    background-color: #125f8c;
  }
  