/* Estilo para la lista ul */
.file-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        background-color: #fff;
        margin: 10px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        text-align: center;
        width: 150px;
    }
    
    /* Cambia el fondo del elemento de la lista al pasar el ratón por encima */
    li:hover {
        background-color: #f1f1f1;
    }
    
    /* Estilo para los enlaces a */
    a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
        display: block;
    }
    
    /* Cambia el color del enlace al pasar el ratón por encima */
    a:hover {
        color: #0056b3;
    }
    
    /* Estilo para los iconos de carpetas y archivos */
    .icon {
        display: block;
        margin: 0 auto 10px;
        width: 50px;
        height: 50px;
    }
}

/* Estilo para la lista ul */
.file-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Estilo para los elementos de la lista li */
    li {
        background-color: #fff;
        margin: 10px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        text-align: center;
        width: 150px;
    }

    /* Cambia el fondo del elemento de la lista al pasar el ratón por encima */
    li:hover {
        background-color: #f1f1f1;
    }

    /* Estilo para los enlaces a */
    a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
        display: block;
    }

    /* Cambia el color del enlace al pasar el ratón por encima */
    a:hover {
        color: #0056b3;
    }

    /* Estilo para los iconos de carpetas y archivos */
    .icon {
        display: block;
        margin: 0 auto 10px;
        width: 50px;
        height: 50px;
    }
}

